* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainContainer {
  max-width: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 8rem;
  padding-bottom: 6rem;
  
}

.mainContainer > img {
  width: 150px;
  border-radius: 50%;  
}
.summery {
  color: #252525;
  width: 80%;
  text-align: center;
  padding-top: 1rem;
}
.projectSection {
  width: 100%;
  background-color: #fafafa;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectContent {
  flex: 0.7;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .summery {
    width: 95%;
    font-size: 12px;
  }
  .mainContainer {
    height: 100%;
  }
}

.mainContainer .resume {
  background-color: steelblue;
  color: whitesmoke;
  padding: 0.8rem 1.8rem;
  border-radius: 0.4rem;
  margin-top: 3rem;
}
.mainContainer a {
  text-decoration: none;
}
.mainContainer .resume:hover {
  background-color: rgb(46, 102, 148);
  transition: ease 0.2s;
  cursor: pointer;
}
